In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [ ]:
h_waste = pd.read_csv("../data/Hazardous WasteIGD_EF_RCRA.csv")
toxic_release = pd.read_csv("../data/Toxic ReleasesIGD_EF_TRI.csv")
tn_pop = pd.read_csv("../data/tn_county_pop.csv")
swm_permits = pd.read_csv("../data/SWM Permits.csv")
rare_s = pd.read_csv("../data/Rare Species by County.csv", encoding='windows-1252')
streams = pd.read_csv("../data/Exceptional TN Streams.csv", encoding='windows-1252')
rare_e = pd.read_excel("../data/Exceptional TN Streams filtered.xlsx", sheet_name='Endangered')

In [3]:
tn_waste = h_waste[h_waste['state_code']=='TN']
tn_toxic = toxic_release[toxic_release['state_code']=='TN']
tn_waste_center = swm_permits[(swm_permits['Permit Type']=='CONVENIENCE')&(swm_permits['Status']=='Active')]

In [ ]:
tn_toxic["county"] = tn_toxic["county_name"].str.split().str[0]
tn_waste.rename(columns={'county_name': 'county'}, inplace=True)
tn_pop.rename(columns={'county': 'county_name'}, inplace=True)
tn_pop["county"] = tn_pop["county_name"].str.split().str[0]
rare_s.rename(columns={'County': 'county'}, inplace=True)
rare_e.rename(columns={'County': 'county'}, inplace=True)

In [ ]:
tw = tn_waste.groupby('county').agg({'registry_id': 'size', 'city_name': pd.Series.nunique}).reset_index().sort_values('city_name', ascending=False)
tt = tn_toxic.groupby('county').agg({'registry_id': 'size', 'city_name': pd.Series.nunique}).reset_index().sort_values('city_name', ascending=False)
tp = tn_pop[['county' , 'pop2024' , 'landArea' , 'density']]
tcc = tn_waste_center.groupby('County').agg({'Permit Number': 'count', 'City': pd.Series.nunique}).reset_index().sort_values('City', ascending=False)
rare = rare_s.groupby('county').agg({'Type': 'size', 'Category': pd.Series.nunique}).reset_index().sort_values('Category', ascending=False)
rare_endangered = rare_e.groupby('county').agg({'HUC': 'size'}).reset_index().sort_values('HUC', ascending=False)
tcc.rename(columns={'County': 'county'}, inplace=True)
tcc['county'] = tcc['county'].str.upper()
tp['county'] = tp['county'].str.upper()
rare['county'] = rare['county'].str.upper()
rare_endangered['county'] = rare['county'].str.upper()
tw.rename(columns={'registry_id': 'private_waste_loc_count', 'city_name': 'private_waste_city_count'}, inplace=True)
tt.rename(columns={'registry_id': 'toxic_release_loc_count', 'city_name': 'toxic_release_city_count'}, inplace=True)
tcc.rename(columns={'Permit Number': 'tn_convenience_loc_count', 'City': 'tn_convenience_city_count'}, inplace=True)
rare.rename(columns={'Type': 'tn_rare_count', 'Category': 'tn_rare_category'}, inplace=True)
rare_endangered.rename(columns={'HUC': 'Endangered'}, inplace=True)

In [6]:
cc_pop = pd.merge(tp, tcc, on='county', how='left')
cc_tt = pd.merge(cc_pop, tt, on='county', how='left')
cc_tt_tw = pd.merge(cc_tt, tw, on='county', how='left')
cc_tt_tw_rc = pd.merge(cc_tt_tw, rare, on='county', how='left')
merged = pd.merge(cc_tt_tw_rc, rare_endangered, on='county', how='left')
merged['conveniece_land_mile_ratio'] = merged['landArea'] / merged['tn_convenience_loc_count']
merged['conveniece_pop_ratio'] =  merged['pop2024'] / merged['tn_convenience_loc_count']
#merged.to_csv('tn_toxic',index=False)

In [7]:
merged

,county,pop2024,landArea,density,tn_convenience_loc_count,tn_convenience_city_count,toxic_release_loc_count,toxic_release_city_count,private_waste_loc_count,private_waste_city_count,tn_rare_count,tn_rare_category,Endangered,conveniece_land_mile_ratio,conveniece_pop_ratio
0,SHELBY,903727,761,1187.551905,1.0,1.0,215.0,7.0,2669.0,32.0,26.0,8.0,1.0,761.000000,903727.000000
1,DAVIDSON,717317,503,1426.077535,5.0,1.0,140.0,8.0,2079.0,48.0,70.0,11.0,16.0,100.600000,143463.400000
2,KNOX,505958,508,995.980315,7.0,1.0,70.0,5.0,981.0,17.0,51.0,10.0,11.0,72.571429,72279.714286
3,HAMILTON,385126,542,710.564576,6.0,3.0,130.0,6.0,1164.0,31.0,67.0,11.0,1.0,90.333333,64187.666667
4,RUTHERFORD,373520,619,603.424879,15.0,4.0,60.0,4.0,380.0,15.0,84.0,11.0,1.0,41.266667,24901.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,HANCOCK,7066,222,31.828829,1.0,1.0,2.0,1.0,6.0,1.0,45.0,8.0,1.0,222.000000,7066.000000
91,MOORE,6780,129,52.558140,1.0,0.0,2.0,1.0,2.0,1.0,19.0,6.0,2.0,129.000000,6780.000000
92,VAN,6556,273,24.014652,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,LAKE,6194,166,37.313253,1.0,1.0,1.0,1.0,8.0,2.0,19.0,5.0,2.0,166.000000,6194.000000
94,PICKETT,5153,163,31.613497,2.0,1.0,NaN,NaN,3.0,1.0,46.0,15.0,10.0,81.500000,2576.500000

In [9]:
#testing = rare_e.explode('county')

In [10]:
#rare_e['county1'] = rare_e['county'].str.split(',')

In [11]:
.